<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"></section>
  </configSections>
  <log4net configSource="config/log4net.config"></log4net>
  <connectionStrings>
    <add name="Server" connectionString="localhost" />
    <add name="Database" connectionString="test" />
    <add name="Username" connectionString="root" />
    <add name="Password" connectionString="123456" />
    <add name="Port" connectionString="3306" />
  </connectionStrings>
</configuration>